<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	indexPageName="bolivia.html"

>
  <image imageURL="images/Cactus.jpg"
	thumbURL="thumbs/Cactus.jpg"
	linkURL="images/Cactus.jpg"
	linkTarget="_blank"
	sourcePath="/Volumes/EOS_DIGITAL/Edited Pictures  copy/Bolivia/Cactus.jpg">
    <title><![CDATA[Cactus]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Car_Uyuni.jpg"
	thumbURL="thumbs/Car_Uyuni.jpg"
	linkURL="images/Car_Uyuni.jpg"
	linkTarget="_blank"
	sourcePath="/Volumes/EOS_DIGITAL/Edited Pictures  copy/Bolivia/Car_Uyuni.jpg">
    <title><![CDATA[Car_Uyuni]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Close up Cactus.jpg"
	thumbURL="thumbs/Close up Cactus.jpg"
	linkURL="images/Close up Cactus.jpg"
	linkTarget="_blank"
	sourcePath="/Volumes/EOS_DIGITAL/Edited Pictures  copy/Bolivia/Close up Cactus.jpg">
    <title><![CDATA[Close up Cactus]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Diamond Train.jpg"
	thumbURL="thumbs/Diamond Train.jpg"
	linkURL="images/Diamond Train.jpg"
	linkTarget="_blank"
	sourcePath="/Volumes/EOS_DIGITAL/Edited Pictures  copy/Bolivia/Diamond Train.jpg">
    <title><![CDATA[Diamond Train]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/J Running Uyuni.jpg"
	thumbURL="thumbs/J Running Uyuni.jpg"
	linkURL="images/J Running Uyuni.jpg"
	linkTarget="_blank"
	sourcePath="/Volumes/EOS_DIGITAL/Edited Pictures  copy/Bolivia/J Running Uyuni.jpg">
    <title><![CDATA[J Running Uyuni]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Julian_Uyuni.jpg"
	thumbURL="thumbs/Julian_Uyuni.jpg"
	linkURL="images/Julian_Uyuni.jpg"
	linkTarget="_blank"
	sourcePath="/Volumes/EOS_DIGITAL/Edited Pictures  copy/Bolivia/Julian_Uyuni.jpg">
    <title><![CDATA[Julian_Uyuni]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Man Sunset Uyni.jpg"
	thumbURL="thumbs/Man Sunset Uyni.jpg"
	linkURL="images/Man Sunset Uyni.jpg"
	linkTarget="_blank"
	sourcePath="/Volumes/EOS_DIGITAL/Edited Pictures  copy/Bolivia/Man Sunset Uyni.jpg">
    <title><![CDATA[Man Sunset Uyni]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/man sunset uyuni tone.jpg"
	thumbURL="thumbs/man sunset uyuni tone.jpg"
	linkURL="images/man sunset uyuni tone.jpg"
	linkTarget="_blank"
	sourcePath="/Volumes/EOS_DIGITAL/Edited Pictures  copy/Bolivia/man sunset uyuni tone.jpg">
    <title><![CDATA[man sunset uyuni tone]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/mountain reflection.jpg"
	thumbURL="thumbs/mountain reflection.jpg"
	linkURL="images/mountain reflection.jpg"
	linkTarget="_blank"
	sourcePath="/Volumes/EOS_DIGITAL/Edited Pictures  copy/Bolivia/mountain reflection.jpg">
    <title><![CDATA[mountain reflection]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Photographer_Uyuni.jpg"
	thumbURL="thumbs/Photographer_Uyuni.jpg"
	linkURL="images/Photographer_Uyuni.jpg"
	linkTarget="_blank"
	sourcePath="/Volumes/EOS_DIGITAL/Edited Pictures  copy/Bolivia/Photographer_Uyuni.jpg">
    <title><![CDATA[Photographer_Uyuni]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/sunset car.jpg"
	thumbURL="thumbs/sunset car.jpg"
	linkURL="images/sunset car.jpg"
	linkTarget="_blank"
	sourcePath="/Volumes/EOS_DIGITAL/Edited Pictures  copy/Bolivia/sunset car.jpg">
    <title><![CDATA[sunset car]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/sunset uyuni.jpg"
	thumbURL="thumbs/sunset uyuni.jpg"
	linkURL="images/sunset uyuni.jpg"
	linkTarget="_blank"
	sourcePath="/Volumes/EOS_DIGITAL/Edited Pictures  copy/Bolivia/sunset uyuni.jpg">
    <title><![CDATA[sunset uyuni]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/suyuc.jpg"
	thumbURL="thumbs/suyuc.jpg"
	linkURL="images/suyuc.jpg"
	linkTarget="_blank"
	sourcePath="/Volumes/EOS_DIGITAL/Edited Pictures  copy/Bolivia/suyuc.jpg">
    <title><![CDATA[suyuc]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/train skeleton.jpg"
	thumbURL="thumbs/train skeleton.jpg"
	linkURL="images/train skeleton.jpg"
	linkTarget="_blank"
	sourcePath="/Volumes/EOS_DIGITAL/Edited Pictures  copy/Bolivia/train skeleton.jpg">
    <title><![CDATA[train skeleton]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Uyuni Couple.jpg"
	thumbURL="thumbs/Uyuni Couple.jpg"
	linkURL="images/Uyuni Couple.jpg"
	linkTarget="_blank"
	sourcePath="/Volumes/EOS_DIGITAL/Edited Pictures  copy/Bolivia/Uyuni Couple.jpg">
    <title><![CDATA[Uyuni Couple]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>